/* config/_vars (does not output css) */
//greyscale
$white: #fff;
$black: #000;

//gen
$brand: #38b7fb;
$brand_alt: #38b7fb;
$brand_grey: #383838;
$body_bg: $white;
$global_border: #c5c5c5;

//links
$link_colour: #428bca;
$link_hover_colour: darken($link_colour, 20);

//focus
$focus_border: rgba(82, 168, 236, 0.8);

//boxes and text
$text_colour: $brand_grey;
$litetext_colour: $brand_grey;

//alets
$default: $brand_grey;
$info: $link_colour;
$success: #5cb85c;
$warning: #f0ad4e;
$error: #d9534f;

$base_size: 63.7%;
$display: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans_serif: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "Merriweather", "Times New Roman", Times, serif;
$code: Menlo,Monaco,Consolas,"Courier New",monospace;
//$serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$global_family: $serif; //not everything inherits from the body...so we have $global_family

//font sizes
$text_size: 1.4em;
$text_line_height: 1.6em;

$h1: 2.8em;
$h2: 1.8em;
$h3: 1.6em;
$h4: 1.5em;
$h5: 1.3em;
$h6: 1.2em;

$lists_font_size: $text_size;
$lists_line_height: $text_line_height;

/* end */