/* app/devs/footer */

//sticky footer
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -187px;
  .wrapper__inner {
    padding: 10px 10px 0px 10px;
  }
}
.push {
  height: 187px;
}
.footer-wrap {
  height: 177px;
  padding: 0px 10px 10px 10px;
}

.site__footer {
  padding: 35px 10px 31px;
  border-bottom: 4px solid $brand;
}
.footer__contact {
  background: $brand_grey;
  width: 605px;
  margin: 0 auto;
  padding: 16px 20px 6px; //39 - 20 = 19
  p {
    text-align: center;
    color: $white;
    line-height: 1.75em;
    margin-bottom: 6px;
  }
}
.contact__item {
  color: $white;
  font-weight: 700;
  font-style: italic;
  &:hover {
    color: $white;
  }
}

@media (max-width: 59.938em) { //959px

  .footer__contact {
    width: auto;
  }

}

@media (max-width: 43.75em) { //700px

  html, body {
    height: auto;
    margin: 0;
  }
  .wrapper {
    min-height: 0;
    height: auto !important;
    margin: 0;
  }
  .push {
    height: auto;
  }
  .footer-wrap {
    height: auto;
    padding: 0px 10px 10px 10px;
  }

}