/* app/devs/header */
.site__header {
  position: relative;
  background: $brand_grey;
  h1 {
    color: $white;
    text-align: center;
    margin: 0;
    padding: 4px 0px 3px;
    letter-spacing: 5px;
  }

}

.hamburger {
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
  width: 28px;
  height: 29px;
  padding: 11px 6px 0px;
  span {
    display: block;
    background: $white;
    width: 27px;
    height: 1px;
    margin-bottom: 7px;
  }
}
