/* app/section/site (documentation css) */

.site__nav {
	ul {

	}
	li {
		&.active {
			display: none;
			a {
				font-weight: bold;
				color: $link_hover_colour;
			}
		}
	}
	a {
		&:hover {
			text-decoration: none;
		}
	}
}