/* app/section/site */
.intro {
	width: 83%;
	padding: 49px 0px 53px;
	margin: 0 auto;
	p {
		font-size: 3.8em;
		line-height: 1.5em;
		margin: 0;
	}
	strong {
		color: $brand;
	}
}

.main__header {
	padding: 19px 10px 18px;//25-18 43 25
	h1 {
		margin: 0px;
		text-align: center;
	}
	&.-project {
		position: relative;
	}
}
.project__nav {
	@extend %group;
	position: absolute;
	top: 0;
	right: 0;
	a {
		@include bgImg('sprite_project_nav.png', 50%, 50%);
		@include square(23px, 23px);
		padding: 25px 0px;
		margin: 0 14px;
		float: left;
		text-indent: -9999px;
	}
	.prev {
		background-position: 0px 50%;
		margin-right: 10px;
	}
	.next {
		background-position: 100% 50%;
		margin-left: 10px;
	}
	.back {

	}
}

.main__listing {
	border-top: 4px solid $global_border;
	padding-top: 20px;
	.h1, .h2, .h3 {
		margin: 0;
	}
}
.listing__section {
	.row {
		width: 100%;
	}
}
.listing__title {
	padding: 5px 13px 3px; //10 15 10
	background: $brand_grey;
	color: $white;
}
.listing__sub-section {
	border-bottom: 1px solid $section_border;
	padding: 37px 17px 14px;
	margin: 0;
	&.last {
		border: none;
	}
	&.short {
		//
	}
	._header {
		padding: 0 0 12px;
	}
	.alt ul {
		padding-top: 30px;
	}
}

//angular cloaks
[ng-cloak] {
	display: none;
}

.loading {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: $white;
	&[ng-cloak] {
		display: block;
	}
}
