/* app/segment/projects */
.projects-listing-wrap {
	padding-bottom: 60px;
}

.projects-listing {
	@extend %group;
	width: 100%;
  padding: 0;
  margin: 0;
	list-style: none;
	font-size: 100%;
}
.projects-listing__item {
	position: relative;
	img {
		@include square(100%, 100%);
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}
	a {
		@include magicBox(55.457);
		display: block;
		border: 1px solid $global_border;
    &:hover {
      .inner {
        visibility: visible;
      }
    }
	}
	.inner {
		@include bgImg('bg_project_overlay.png', 0%, 0%, repeat);
		@include square(98%, 100%);
		padding: 0px 1%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
    visibility: hidden;
	}
	h2 {
		display: table;
		margin: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		font-size: $h1;
		font-weight: 300;
		color: $white;
    letter-spacing: 5px;
		.text {
			display: table-cell;
			vertical-align: middle;
		}
		.sub-title {
			display: block;
			font-size: .46em;
			font-weight: 500;
      letter-spacing: 4px;
		}
	}
	.border {
		height: 4px;
		background: $brand;
		width: 93.871%;
		position: absolute;
		bottom: 10px;
		margin: 0 3.06%;
	}
}

//single page

.project-rows {
	border-top: 1px solid $section_border;
	padding: 40px 0px 30px;
}
.project__header {
	padding: 0 11px 0 19px;
	h1 {
		font-size: $h2;
		font-weight: 600;
	}
	h3 {

	}
}
.-project.row {
	margin-bottom: 40px;
	position: relative;
}
.project-row__text {
}
.project-row__image {

}
.project-row__description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 33.60013%;
	margin: 0 0 0 66.39987%;
	p {
		border-bottom: 1px solid $section_border;
		margin: 0 11px 0 26px;
		padding: 0 0 26px;
	}
}

@media (max-width: 59.938em) { //960px

	.projects-listing__item {
		position: relative;
		float: left;
		width: 49%;
		padding-left: .5%;
		padding-right: .5%;

		.img-magic-box {
			@include magicBox(55.457);
			margin-bottom: 10px;
		}

		a {
			padding: 0;
			height: auto;
			display: block;
			border: none;
		}
		.inner {
			@include square(auto, auto);
			background: none;
			position: static;
			overflow: visible;
			top: auto;
			left: auto;
			visibility: visible;
		}
		h2 {
			display: block;
			margin: 0;
			height: auto;
			width: auto;
			font-size: $mh2;
			color: $text_colour;
			.text {
				display: block;
			}
			.sub-title {
				font-size: .75em;
			}
		}
		.border {
			display: none;
		}
	}

	.project__header {
		padding: 0px 0px 30px;
		text-align: center;
	}
	.project-row__description {
		position: static;
		width: auto;
		margin: 0px;
		padding: 20px 0 0 0;
		p {
			padding: 0 0 20px;
			margin: 0px;
		}
	}
}



@media (max-width: 43.75em) { //700px

	.projects-listing__item {
		position: relative;
		float: none;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}




}




