<header class="main__header">
  <h1>{{page_title}}</h1>
</header>
<section ng-if="!slider_philosophy" class="link__boxes philosophy__body">
  <div ng-repeat="group in phil_groups" class="row">
    <article ng-repeat="box in group" class="span4">
      <a href="/philosophy/{{box.title | lowercase}}" class="link__box"><span>{{box.title}}<i>{{box.id}}</i></span></a>
    </article>
  </div>
</section>

<section ng-if="slider_philosophy" class="slider">
  <div ng-repeat="slide in slider" class="slide" ng-class="{active:compareToName(slide.title)}">

    <a class="prev-slide" href="/philosophy/{{getPrevSlide(slide.id)[0].title | lowercase}}"><span>PREV</span></a>
    <img alt="{{slide.title}}" ng-src="{{slide.img}}">
    <article class="slide__text">
      <div class="inner">
        <div class="slide__content">
          <div class="background">
            <table ng-if="!mobile">
              <td><span class="h1">{{slide.id}}</span></td>
              <td><h2 class="h1">{{slide.title}}</h2></td>
              <td><div class="description" btf-markdown="slide.body"></div></td>
            </table>
            <div ng-if="mobile">
              <span class="h1">{{slide.id}}</span>
              <h2 class="h1">{{slide.title}}</h2>
              <div class="description" btf-markdown="slide.body"></div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <a class="next-slide" href="/philosophy/{{getNextSlide(slide.id)[0].title | lowercase}}"><span>NEXT</span></a>

  </div>
</section>
