<header>
  <h1>{{page_title}}</h1>
  <a href="/{{nextProject.alias}}">{{nextProject.node_title}} &gt;</a><br>
  <a href="/{{base}}">GO BACK TO BASE (UX/DESIGN)</a><br>
  <a href="/{{prevProject.alias}}">&lt; {{prevProject.node_title}}</a><br>
</header>

<article>
  <h1>{{project_title}}</h1>
  <h3>{{role}}</h3>
  <div ng-repeat="row in rows">
    <p>{{row.description}}</p>
    <img alt="{{row.description}}" ng-src="{{row.file_uri}}" />
    <p><strong>image:</strong> {{row.file_uri}}</p>
    <p><strong>image position:</strong> {{row.image_position}}</p>
  </div>
</article>