<header class="main__header">
  <h1>{{page_title}}</h1>
</header>

<section class="projects-listing-wrap">
  <ul ng-hide="mobile" ng-repeat="group in groups" class="row projects-listing">
    <li ng-class="{f: $first, l: $last}" ng-repeat="project in group" class="span4 projects-listing__item">
      <img alt="{{project.node_title}}" ng-src="{{project.field_field_image}}">
      <a href="/{{project.alias}}">
        <div class="inner">
          <h2>
            <span class="text">
              {{project.node_title}}
              <span class="sub-title">{{project.field_field_role[0].raw.value}}</span>
            </span>
          </h2>
          <i class="border"></i>
        </div>
      </a>
    </li>
  </ul>

  <ul ng-show="mobile" class="projects-listing">
    <li ng-repeat="project in projects" class="projects-listing__item">
      <a href="/{{project.alias}}">
        <div class="img-magic-box">
          <img alt="{{project.node_title}}" ng-src="{{project.field_field_image}}">
        </div>
        <div class="inner">
          <h2>
            {{project.node_title}}
            <span class="sub-title">{{project.field_field_role[0].raw.value}}</span>
          </h2>
        </div>
      </a>
    </li>
  </ul>

</section>

