<header class="main__header">
  <h1>{{page_title}}</h1>
</header>

<section class="main__listing">
  <article class="listing__section">
    <h2 class="listing__title h1">Experience</h2>
    <div ng-repeat="job in experience">
      <h3 class="h2">{{job.role}}</h3>
      <p class="h2">{{job.company}}</p>
      <p class="h3">{{job.date_range}} &bull; {{job.location}}</p>
      <div btf-markdown="job.body"></div>
    </div>
  </article>

  <article class="listing__section">
    <h2 class="listing__title h1">Education</h2>
    <div ng-repeat="school in schools">
      <h3 class="h2">{{school.name}}</h3>
      <p class="h3">{{school.location}}</p>
      <div btf-markdown="school.body"></div>
    </div>
  </article>

  <article class="listing__section">
    <h2 class="listing_title h1">Awards/Nominations</h2>
    <div ng-repeat="award in awards">
      <h3 class="h2">{{award.year}} {{award.name}}</h3>
      <div btf-markdown="award.body"></div>
    </div>
  </article>


</section>

<aside class="main__sidebar -left">

</aside>